.Fridge {
  display: flex;
  flex-direction: column;
  width: 45vh;
  text-align: center;
  margin: 100px auto auto;
  height: 80vh;

  .fridge-graphic {

    position: relative;
    height: 100%;

    .front {
      height: 100%;
      .main {
        height: 95%;
        background-color: #0aafe5;
        padding: 20px 15px 0 15px;
        border-radius: 20px 0 0 0;
      }

      .bottom {
        height: 5%;
        background-color: #0885b3;
      }
    }

    img {
      position: absolute;
      top: -30px;
      left: calc(45vh - 10px);
      height: calc(70vh + 15px);
    }
  }
}

@media (max-width: 768px) {
  .Fridge {
    margin-top: 20px;

    img {
      display: none;
    }
  }
}

@media (max-height: 640px) {
  .Fridge {
    height: 75vh;

    img {
      display: none;
    }
  }
}