.UserIngredientsListElement {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-height: 20%;
  width: 100%;

  .ingredient-card {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin: auto 0;

    .ingredient-content {
      padding: 0 5px;
      margin: auto;
    }

    .delete-btn {
      width: 10%;
    }
  }

  .fridge-shelf {
    width: 100%;
    height: 6px;
    background-color: #ffffff;
  }
}
