.IngredientList li {
  list-style: none;
}

.IngredientList ul {
  text-align: left;
  padding: 0;
}

.IngredientList p{
  padding: 0;
  text-align: center;
  margin: 0;
}


.Ingredients {
  display: flex;
  flex-direction: row;
}


@media(max-width: 768px){

.IngredientList ul,ol {
  text-align: center;
  padding: 0;
}
.IngredientList p{
  padding: 0;
  text-align: center;
  margin: 0;
}
}
