@import "../../Variables";

.ShoppingScreen {
  text-align: center;
  margin-top: 80px;
}

.ShoppingScreen h1 {
  margin-bottom: 30px;
}

.ShoppingScreen h1,
h3 {
  text-align: left;
  margin-top: 30px;
  color: $background-color2;
}

hr {
  width: 95%;
}

.onMobile {
  display: none;
}

.mobileButton {
  margin-top: -40px;
}

.rightButton {
  float: right;
}

.textField {
  width: 260px;
}

.textFieldWrapper {
  padding: 30px;
}

.formWrap {
  display: flex;
  justify-content: center;
}

@media (max-width: 768px) {
  .ShoppingScreen {
    margin-top: 20px;
  }

  .onMobile {
    display: inherit;
  }

  .mobileButton {
    margin-top: 20px;
    width: 100%;
  }

  .textField {
    width: 90%;
  }

  .textFieldWrapper {
    padding: 0;
  }

  .formWrap {
    display: block;
  }

  .rightButton {
    float: none;
  }
}
