body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*Locking portrait orientation*/
/*@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {*/
/*  html {*/
/*    transform: rotate(-90deg);*/
/*    transform-origin: left top;*/
/*    width: 100vh;*/
/*    height: 100vw;*/
/*    overflow-x: hidden;*/
/*    position: absolute;*/
/*    top: 100%;*/
/*    left: 0;*/
/*  }*/
/*}*/

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  width: 80vw;
  margin-top: 60px;
}

/* Styles for customized scroll - doesn't work on Firefox */
::-webkit-scrollbar {
  width: 13px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@media (max-width: 768px) {
  .container {
    margin-top: 60px;
    margin-bottom: 100px;
    width: 100vw;
  }
}
