.ShoppingList {
  display: grid;
  font-size: 20px;
  text-align: left;
}

.wrapCenter {
  text-align: center;
}

@media (max-width: 768px) {
  .mobileButton {
    margin-top: 20px;
    width: 90%;
  }
}
