.UserIngredientsList {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  background-color: #a9bcb8;
  border: 6px solid #ffffff;
  border-bottom: 0;
  overflow-y: scroll;
  overflow-x: hidden;

  .bottom-border {
    position: absolute;
    height: 8px;
    width: calc(45vh - 36px);
    background-color: #ffffff;
    bottom: 5%;
    z-index: 10;
  }
}
