@import "../../Variables";

.Logo span {
  font-size: xx-large;
  font-weight: bold;
}

.Logo {
  background-color: inherit;
}

@media (max-width: 768px) {
  .Logo {
    margin-top: 5px;
    text-align: center;
    background-color: white;
  }
}
