.Autocompletion {
  display: flex;
  width: 100%;
  margin: 5px 0 10px 0;


  .MuiFormControl-marginNormal {
    margin-top: 0;
    margin-bottom: 0;
  }

  .MuiAutocomplete-popupIndicator {
    display: none;
  }

  .MuiAutocomplete-root {
    width: 100%;
    margin-right: 10px;
  }

  .MuiButtonBase-root {
    min-width: 56px;
  }
}

@media (max-width: 768px) {
  .Autocompletion {
    margin-top: 20px;
  }
}
