.Recipe {
  text-align: center;
  margin-top: 80px;
}

.Recipe ol {
  text-align: justify;
}

@media (max-width: 768px) {
  .Recipe {
    // margin-top: 20px;
    display: inline;
  }
  .Img {
    height: 40%;
  }
  .Recipe ol {
    text-align: center;
    list-style: none;
  }
}
