@import "../../Variables";

.Navbar .navbar {
  height: 60px;
  background-color: $background-color2;
  position: fixed;
  z-index: 1000;
  top: 0;
  bottom: auto;
  width: 100%;
}

.Navbar .mobileLogo {
  display: none;
  overflow: hidden;
  position: fixed;
  z-index: 1000;
  top: 0;
  bottom: auto;
  width: 100%;
  height: 50px;
  background-color: white;
}

.Navbar .nav-item {
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
}

.Navbar .nav-item .right {
  text-align: right;
}

.Navbar .selected {
  color: white;
  font-size: x-large;
  transition-duration: 0.2s;
}

.Navbar li a {
  padding: 15px;
  transition-duration: 0.2s;
  color: darkgrey;
}

.Navbar a:hover {
  text-decoration: none;
  color: white;
}

@media (max-width: 768px) {
  .Navbar .navbar {
    overflow: hidden;
    position: fixed;
    top: auto;
    bottom: 0;
    height: 80px;
    padding-bottom: 20px;
  }

  .Navbar .mobileLogo {
    display: inherit;
  }

  .Navbar .notMobile {
    display: none;
  }

  .Navbar .onMobile {
    font-size: 25px;
  }

  .Navbar .selected {
    transition-duration: 0s;
  }

  .Navbar li a {
    transition-duration: 0s;
    padding: 15px 15%;
    width: 100%;
  }

  .Navbar li {
    text-align: center;
    width: 100%;
  }
}
